header {
  margin: 50px;
  background: var(--gradient);
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px var(--shadow);

  @media screen and (max-width: 576px) {
    margin: 50px 20px;
  }

  .logo {
    width: 100%;
    max-width: 120px;
  }

  .iconsNav {
    display: none;

    #closeIcon {
      display: none;
    }

    @media screen and (max-width: 1070px) {
      display: block;
    }
  }

  nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;

    @media screen and (max-width: 1070px) {
      display: none;
      flex-direction: column;
      justify-content: end;
      align-items: end;
      width: 100%;
    }

    a {
      color: var(--white);
      font-weight: normal;
      border-bottom: 2px solid transparent;
      padding: 5px 0;

      &:hover {
        border-bottom: 2px solid var(--tertiary);
      }
    }
  }
}
